In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame(data=np.arange(0,20).reshape(5,4),index=('row1','row2','row3','row4','row5'),columns=('col1','col2','col3','col4'))

In [3]:
df.head()

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [4]:
#accesing element from dataframe
#1.  .loc and .iloc

In [5]:
df.loc['row1']

col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int32

In [7]:
df.loc['col1']

KeyError: 'col1'

In [8]:
df.loc['row1','row2']

KeyError: 'row2'

In [9]:
type(df.loc['row2'])

pandas.core.series.Series

In [10]:
df.iloc[:,:]

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [11]:
df.iloc[3:,2:]

      col3  col4
row4    14    15
row5    18    19

In [12]:
df.iloc[1:2,:]

      col1  col2  col3  col4
row2     4     5     6     7

In [13]:
type(df.iloc[:,:])

pandas.core.frame.DataFrame

In [14]:
df.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [15]:
df.iloc[:,2:].values

array([[ 2,  3],
       [ 6,  7],
       [10, 11],
       [14, 15],
       [18, 19]])

In [16]:
df['col1'].value_counts()

col1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [17]:
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
dtype: int64

In [18]:
df

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [19]:
df['col3']

row1     2
row2     6
row3    10
row4    14
row5    18
Name: col3, dtype: int32

In [20]:
df.loc['row2']

col1    4
col2    5
col3    6
col4    7
Name: row2, dtype: int32

In [21]:
df['col2']

row1     1
row2     5
row3     9
row4    13
row5    17
Name: col2, dtype: int32

In [22]:
df['row3']

KeyError: 'row3'

In [23]:
df[['col1','col3']]

      col1  col3
row1     0     2
row2     4     6
row3     8    10
row4    12    14
row5    16    18

In [24]:
data=pd.read_csv('C:/Users/ASUS/Downloads/merc.csv')

In [25]:
data

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [26]:
data.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0

In [27]:
data.describe()

,year,price,mileage,tax,mpg,engineSize
count,13119.000000,13119.000000,13119.000000,13119.000000,13119.000000,13119.000000
mean,2017.296288,24698.596920,21949.559037,129.972178,55.155843,2.071530
std,2.224709,11842.675542,21176.512267,65.260286,15.220082,0.572426
min,1970.000000,650.000000,1.000000,0.000000,1.100000,0.000000
25%,2016.000000,17450.000000,6097.500000,125.000000,45.600000,1.800000
50%,2018.000000,22480.000000,15189.000000,145.000000,56.500000,2.000000
75%,2019.000000,28980.000000,31779.500000,145.000000,64.200000,2.100000
max,2020.000000,159999.000000,259000.000000,580.000000,217.300000,6.200000

In [28]:
ne=pd.read_csv('C:/Users/ASUS/text.csv',sep=';')

In [29]:
ne

      column1  column2  column3  column4
row1       10       11       12       13
row2       20       21       22       23
row3       30       31       32       33

In [30]:
data['model'].value_counts()

model
 C Class      3747
 A Class      2561
 E Class      1953
 GLC Class     960
 GLA Class     847
 B Class       591
 CL Class      511
 GLE Class     461
 SL CLASS      260
 CLS Class     237
 V Class       207
 S Class       197
 GL Class      121
 SLK            95
 CLA Class      86
 X-CLASS        82
 M Class        79
 GLS Class      74
 GLB Class      19
 G Class        15
 CLK             7
 CLC Class       3
 R Class         2
180              1
230              1
220              1
200              1
Name: count, dtype: int64

In [31]:
data[data['year']>2017]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
6,GLE Class,2018,30948,Automatic,16000,Diesel,145,47.9,2.1
8,G Class,2019,139948,Automatic,12000,Petrol,145,21.4,4.0
10,A Class,2020,32980,Automatic,606,Petrol,145,35.8,2.0
11,A Class,2020,26980,Automatic,1000,Diesel,145,62.8,1.5
12,B Class,2019,23750,Automatic,278,Diesel,145,55.4,2.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [32]:
dat='a,b,c,d\n1,2,3,4\n11,22,33,44\n111,222,333,444'

In [33]:
#converting string to csv file
from io import StringIO

In [34]:
data1=pd.read_csv(StringIO(dat))

In [35]:
data1

     a    b    c    d
0    1    2    3    4
1   11   22   33   44
2  111  222  333  444

In [36]:
data1=pd.read_csv(StringIO(dat),usecols=['a','b'])

In [37]:
data1

     a    b
0    1    2
1   11   22
2  111  222

In [38]:
data1=pd.read_csv(StringIO(dat),dtype=object)
data1

     a    b    c    d
0    1    2    3    4
1   11   22   33   44
2  111  222  333  444

In [39]:
data1['a'][1]

'11'

In [40]:
dat='index,a,b,c,d\n1,1,2,3,4\n2,11,22,33,44\n3,111,222,333,444'

In [41]:
data1=pd.read_csv(StringIO(dat),index_col=0)

In [42]:
data1

         a    b    c    d
index
1        1    2    3    4
2       11   22   33   44
3      111  222  333  444

In [43]:
data1=pd.read_csv(StringIO('a,b,c,d\n1,1,2,3,4\n2,11,22,33,44\n3,111,222,333,444'),index_col=0)

In [44]:
data1

     a    b    c    d
1    1    2    3    4
2   11   22   33   44
3  111  222  333  444

In [45]:
#read json to csv

In [46]:
import urllib.request
url='https://www.kaggle.com/datasets/thedevastator/new-whole-foods-on-sale-product-data-collection/download?datasetVersionNumber=2'
data=urllib.request.urlopen(url)
data.read()

b'\r\n\r\n<!DOCTYPE html>\r\n<html lang="en">\r\n\r\n<head>\r\n  <title>Kaggle: Your Home for Data Science</title>\r\n  <meta charset="utf-8" />\r\n    <meta name="robots" content="index, follow" />\r\n  <meta name="description" content="Kaggle is the world&#x2019;s largest data science community with powerful tools and resources to help you achieve your data science goals." />\r\n  <meta name="turbolinks-cache-control" content="no-cache" />\r\n    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">\r\n  <meta name="theme-color" content="#008ABC" />\r\n  <script nonce="g7EBeosbnshnvCq9BtgE1g==" type="text/javascript">\r\n    window["pageRequestStartTime"] = 1683549013606;\r\n    window["pageRequestEndTime"] = 1683549013612;\r\n    window["initialPageLoadStartTime"] = new Date().getTime();\r\n  </script>\r\n  <link rel="preconnect" href="https://www.google-analytics.com" crossorigin="anonymous" /><link rel="preconnect" href="https://stats.g.doubleclick.net" /><link rel="preconnect" href="https://storage.googleapis.com" /><link rel="preconnect" href="https://apis.google.com" />\r\n  <link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />\r\n  <link rel="manifest" href="/static/json/manifest.json" crossorigin="use-credentials">\r\n\r\n\r\n  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />\r\n  <link href="https://fonts.googleapis.com/icon?family=Google+Material+Icons&display=block"\r\n    rel="preload" as="style" />\r\n  <link href="https://fonts.googleapis.com/css?family=Inter:400,400i,500,500i,600,600i,700,700i&display=swap"\r\n    rel="preload" as="style" />\r\n  <link href="https://fonts.googleapis.com/icon?family=Google+Material+Icons&display=block"\r\n    rel="stylesheet" media="print" id="async-google-font-1" />\r\n  <link href="https://fonts.googleapis.com/css?family=Inter:400,400i,500,500i,600,600i,700,700i&display=swap"\r\n    rel="stylesheet" media="print" id="async-google-font-2" />\r\n  <script nonce="g7EBeosbnshnvCq9BtgE1g==" type="text/javascript">\r\n    const styleSheetIds = ["async-google-font-1", "async-google-font-2"];\r\n    styleSheetIds.forEach(function (id) {\r\n      document.getElementById(id).addEventListener("load", function() {\r\n        this.media = "all";\r\n      });\r\n    });\r\n  </script>\r\n\r\n    <link rel="stylesheet" type="text/css" href="/static/assets/vendor.css?v=347bcfc883299a7a24f3" />\r\n    <link rel="stylesheet" type="text/css" href="/static/assets/app.css?v=81f9b0bf40d37d37cc8f" />\r\n  \r\n    \r\n \r\n      <script nonce="g7EBeosbnshnvCq9BtgE1g==">\r\n        try{(function(a,s,y,n,c,h,i,d,e){d=s.createElement("style");\r\n        d.appendChild(s.createTextNode(""));s.head.appendChild(d);d=d.sheet;\r\n        y=y.map(x => d.insertRule(x + "{ opacity: 0 !important }"));\r\n        h.start=1*new Date;h.end=i=function(){y.forEach(x => x<d.cssRules.length ? d.deleteRule(x) : {})};\r\n        (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;\r\n        })(window,document,[\'.site-header-react__nav\'],\'dataLayer\',2000,{\'GTM-52LNT9S\':true});}catch(ex){}\r\n    </script>\r\n    <script nonce="g7EBeosbnshnvCq9BtgE1g==">\r\n        window.dataLayer = window.dataLayer || [];\r\n        function gtag() { dataLayer.push(arguments); }\r\n        gtag(\'js\', new Date());\r\n        gtag(\'config\', \'G-T7QHS60L4Q\', {\r\n            \'optimize_id\': \'GTM-52LNT9S\',\r\n            \'displayFeaturesTask\': null,\r\n            \'send_page_view\': false,\r\n            \'content_group1\': \'Account\'\r\n        });\r\n    </script>\r\n    <script nonce="g7EBeosbnshnvCq9BtgE1g==" async src="https://www.googletagmanager.com/gtag/js?id=G-T7QHS60L4Q"></script>\r\n\r\n  \r\n    \r\n\r\n  <meta name="twitter:site" content="@Kaggle" /> \r\n  \r\n    \r\n\r\n  \r\n    \r\n\r\n  \r\n    \r\n\r\n\r\n    <script nonce="g7EBeosbnshnvCq9BtgE1g==">window[\'useKaggleAnalytics\'] = true;</script>\r\n\r\n  <script id="gapi-target" nonce="g7EBeosbnshnvCq9BtgE1g==" src="https://apis.google.com/js/api.js" defer\r\n    async></script>\r\n  <script nonce="g7EBeosbnshnvCq9BtgE1g==" src="/static/assets/runtime.js?v=08d195cc5198aac937e0" data-turbolinks-track="reload"></script>\r\n  <script nonce="g7EBeosbnshnvCq9BtgE1g==" src="/static/assets/vendor.js?v=2145cda4b80bc0d97cd6" data-turbolinks-track="reload"></script>\r\n  <script nonce="g7EBeosbnshnvCq9BtgE1g==" src="/static/assets/app.js?v=27458ab7dc363a3371ed" data-turbolinks-track="reload"></script>\r\n    <script nonce="g7EBeosbnshnvCq9BtgE1g==" type="text/javascript">\r\n      window.kaggleStackdriverConfig = {\r\n        key: \'AIzaSyA4eNqUdRRskJsCZWVz-qL655Xa5JEMreE\',\r\n        projectId: \'kaggle-161607\',\r\n        service: \'web-fe\',\r\n        version: \'ci\',\r\n        userId: \'0\'\r\n      }\r\n    </script>\r\n</head>\r\n\r\n<body data-turbolinks="false">\r\n  <main>\r\n    \r\n\r\n\r\n\r\n\r\n\r\n<div id="site-container"></div>\r\n\r\n<div id="site-body" class="hide">\r\n    \r\n<div data-component-name="LoginRegisterPage" style="display: flex; flex-direction: column; flex: 1 0 auto;"></div><script class="kaggle-component" nonce="g7EBeosbnshnvCq9BtgE1g==">var Kaggle=window.Kaggle||{};Kaggle.State=Kaggle.State||[];Kaggle.State.push({});performance && performance.mark && performance.mark("LoginRegisterPage.componentCouldBootstrap");</script>\r\n\r\n</div>\r\n\r\n\r\n\r\n\r\n  </main>\r\n</body>\r\n\r\n</html>\r\n'

In [48]:
url='https://en.wikipedia.org/wiki/Mobile_country_code'
data=pd.read_html(url,match='Country',header=0)
data[0]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN